@import "_normalize";


.back {
  display: none;
  object-fit: contain;
  width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.card {
  background-color: rgb(95, 94, 94);
  border-radius: 1em;
  /* center item */
  display: flex;
  justify-content: center;
  align-items: center;
  /* create space between img and border */
  padding: 0.5em;
  /* animations */
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 3px 3px 5px gray;
  
}
.card:hover {
  box-shadow: 3px 3px 5px lightskyblue;
}

.cards {
  max-width: 100%;
  margin: 0 12px;
  height: 90vh;
  /* display each card in a grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;

  /* animations */
  perspective: 70vh;
}

.flip {
  transform: rotateY(180deg);
}

.front {
  display: block;
  object-fit: contain;
  width: 100%;

}

.hide {
  display: none;
}

main {
  display: block;
}

.show {
  display: block;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

// media query
@media (min-width: 414px) {
  
}

@media (min-width: 768px) {
  // NOWY KOD CSS
}

@media (min-width: 1024px) {
  // NOWY KOD CSS
}

@media (min-width: 1366px) {
  // NOWY KOD CSS
}
